/JavaApplication37/nbproject/private/
/finding_roots/nbproject/private/
/finding_roots/build/
/finding_roots/dist/
/binaryseaech1/nbproject/private/
/binaryseaech1/build/
/binaryseaech1/dist/
/binarysearch2/nbproject/private/
/binarysearch2/build/
/binarysearch2/dist/
/ArraySort/nbproject/private/
/ArraySort/build/
/ArraySort/dist/
